<p>
	{eazy_company_name} con sede in {eazy_company_headquarters}, in qualità di
	Titolare del trattamento dei dati personali ai sensi del GDPR UE 679/2016
	Regolamento Generale sulla Protezione dei Dati riconosce l’importanza della
	protezione dei dati personali e considera la sua tutela uno degli obiettivi
	principali della propria attività.
</p>

<p>
	Prima di comunicare qualsiasi dato personale, {eazy_company_name} Vi invita a
	leggere con attenzione la presente privacy policy, poiché contiene
	informazioni importanti sulla tutela dei dati personali e sulle misure di
	sicurezza adottate per garantirne la riservatezza nel pieno rispetto del GDPR
	e:
</p>

<p>
	– si intende resa solo per il sito {eazy_http_host} (d'ora in poi abbreviato
	in "Sito”) mentre non si applica ad altri siti web eventualmente consultati
	tramite link esterni;
</p>

<p>
	– è da intendersi quale Informativa resa ai sensi dell’art. 13 del GDPR a
	coloro che interagiscono con il Sito;
</p>

<p>
	– si conforma alla Raccomandazione n. 2/2001 relativa ai requisiti minimi per
	la raccolta di dati on-line nell’Unione Europea, adottata il 17 maggio 2001
	dal Gruppo di Lavoro Articolo 29.
</p>

<p>
	{eazy_company_name} Vi informa che il trattamento dei Vostri dati personali
	sarà improntato ai principi di liceità, correttezza, trasparenza, limitazione
	delle finalità e della conservazione, minimizzazione dei dati, esattezza,
	integrità e riservatezza. I Vostri dati personali verranno pertanto trattati
	in accordo alle disposizioni legislative del GDPR e degli obblighi di
	riservatezza ivi previsti.
</p>

<p>
	<h2>INDICE</h2>
    <p>La presente Privacy Policy è composta dalle
	seguenti voci:</p>
</p>
<p><a href="#titolare-del-trattamento">1. TITOLARE DEL TRATTAMENTO</a></p>
<p><a href="#dati-personali-oggetto-di-trattamento">2. I DATI PERSONALI OGGETTO DI TRATTAMENTO</a></p>
<p><a href="#dati-di-navigazione">a. Dati di navigazione</a></p>
<p><a href="#dati-forniti-volontariamente">b. Dati forniti volontariamente</a></p>
<p><a href="#cookie-e-tecnologie-affini">c. Cookie e tecnologie affini</a></p>
<p><a href="#finalita-base-giuridica-e-natura-obbligatoria-o-facoltativa-del-trattamento">
	3. FINALITA’, BASE GIURIDICA E NATURA OBBLIGATORIA O FACOLTATIVA DEL
	TRATTAMENTO
</a>
</p>
<p><a href="#destinatari">4. DESTINATARI</a></p>
<p><a href="#trasferimenti">5. TRASFERIMENTI</a></p>
<p><a href="#conservazione-dei-dati">6. CONSERVAZIONE DEI DATI</a></p>
<p><a href="#diritti-dell-interessato">7. I DIRITTI DELL’INTERESSATO</a></p>
<p><a href="#modifiche">8. MODIFICHE</a></p>
<p><strong></strong></p>
<p><h4 id="titolare-del-trattamento">1. TITOLARE DEL TRATTAMENTO</h4></p>
<p>
	Il Titolare del trattamento del Sito è {eazy_company_name} con sede legale in
	via {eazy_company_address}, contattabile all’indirizzo e-mail
	{eazy_company_email} oppure al
	numero di telefono {eazy_company_phone} o scrivendo a {eazy_company_name} via
	{eazy_company_address} per qualunque informazione inerente il trattamento dei
	dati.
</p>
<p><h4 id="dati-personali-oggetto-di-trattamento">2. I DATI PERSONALI OGGETTO DI TRATTAMENTO</h4></p>
<p>
	Per “Dati Personali” si intende qualsiasi informazione riguardante una
	persona fisica identificata o identificabile con particolare riferimento a un
	identificativo come il nome, un numero di identificazione, dati relativi
	all’ubicazione, un identificativo online o a uno o più elementi
	caratteristici della sua identità fisica, fisiologica, psichica, economica,
	culturale o sociale.
</p>
<p>
    I Dati Personali raccolti dal Sito sono i seguenti:
    {eazy_processing_options}
</p>
<p><h5 id="dati-di-navigazione">a. Dati di navigazione</h5></p>
<p>
	I sistemi informatici del Sito raccolgono alcuni Dati Personali la cui
	trasmissione è implicita nell’uso dei protocolli di comunicazione di
	Internet. Si tratta di informazioni che non sono raccolte per essere
	associate a te, ma che per loro stessa natura potrebbero, attraverso
	elaborazioni ed associazioni con dati detenuti da terzi, permettere di
	identificarti. Tra questi ci sono gli indirizzi IP o i nomi a dominio dei
	dispositivi utilizzati per connetterti al Sito, gli indirizzi in notazione
	URI (Uniform Resource Identifier) delle risorse richieste, l’orario della
	richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la
	dimensione del file ottenuto in risposta, il codice numerico indicante lo
	stato della risposta data dal server (buon fine, errore, ecc.) ed altri
	parametri relativi al tuo sistema operativo e ambiente informatico.
</p>
<p><h5 id="dati-forniti-volontariamente">b. Dati forniti volontariamente</h5></p>
<p>{eazy_company_name} tratterà questi dati nel rispetto del GDPR, assumendo che
siano riferiti a te o a terzi soggetti che ti hanno espressamente autorizzato a
conferirli in base ad un’idonea base giuridica che legittima il trattamento dei
dati in questione. Rispetto a tali ipotesi, ti poni come autonomo titolare del
trattamento, assumendoti tutti gli obblighi e le responsabilità di legge. In tal
senso, conferisci sul punto la più ampia manleva rispetto ad ogni contestazione,
pretesa, richiesta di risarcimento del danno da trattamento, etc. che dovesse
pervenire a {eazy_company_name} da terzi soggetti i cui Dati Personali siano
stati trattati attraverso il tuo utilizzo del Sito in violazione del GDPR.
</p>
<p><h5 id="cookie-e-tecnologie-affini">c. Cookie e tecnologie affini</h5></p>
<p>
	{eazy_company_name} raccoglie Dati Personali attraverso cookies.
	<a href="/cookies/"
		>Maggiori informazioni sull’uso dei cookie e tecnologie affini sono
		disponibili</a
	>.
</p>
<p>
	<h4 id="finalita-base-giuridica-e-natura-obbligatoria-o-facoltativa-del-trattamento">
		3. FINALITA’, BASE GIURIDICA E NATURA OBBLIGATORIA O FACOLTATIVA DEL
		TRATTAMENTO
	</h4>
</p>
<p>
	I Dati Personali che fornisci attraverso il Sito saranno trattati da
	{eazy_company_name} per le seguenti finalità:

    {eazy_processing_options}
</p>
<p>
	c) finalità relative all’adempimento di un obbligo legale al quale
	{eazy_company_name} è soggetto;
</p>
<p>
	La base legale del trattamento di Dati Personali per le finalità di cui al
	punto a) è l’erogazione di un servizio o il riscontro ad una richiesta che
	non richiedono il consenso ai sensi del GDPR.
</p>
<p>
	La finalità di cui al punto b) non comporta il trattamento di Dati Personali,
	mentre a finalità di cui al punto c) rappresenta un trattamento legittimo di
	Dati Personali ai sensi del GDPR in quanto il trattamento è necessario per
	adempiere ad un obbligo di legge a cui {eazy_company_name} è soggetto. <br />
	Il conferimento dei tuoi Dati Personali per la finalità sopra elencate è
	facoltativo, ma il loro eventuale mancato conferimento potrebbe rendere
	impossibile riscontrare una tua richiesta o adempiere ad un obbligo legale a
	cui {eazy_company_name} è soggetto.
</p>
<p><h4 id="destinatari">4. DESTINATARI</h4></p>
<p>
	I tuoi Dati Personali potranno essere condivisi, per le finalità specificate
	al punto 3, con autorità giurisdizionali nell’esercizio delle loro funzioni quando
	richiesto dal GDPR.
</p>
<p>
	<h4 id="trasferimenti"> 5. TRASFERIMENTI <br /> </h4> 
    <p>Spazio Economico Europeo</p>
</p>
<p><h4 id="conservazione-dati">6. CONSERVAZIONE DEI DATI</h4></p>
<p>
	{eazy_company_name} tratterà i tuoi Dati Personali per il tempo strettamente
	necessario a raggiungere gli scopi indicati al punto 3. A titolo
	esemplificativo, {eazy_company_name} tratterà i Dati Personali per il servizio
	newsletter fino a quando non deciderai di disiscriverti dal servizio. Fatto
	salvo quanto sopra, {eazy_company_name} tratterà i tuoi Dati Personali fino al
	tempo permesso dalla legge Italiana a tutela dei propri interessi (Art.
	2947(1)(3) c.c.). Maggiori informazioni in merito al periodo di conservazione
	dei Dati Personali e ai criteri utilizzati per determinare tale periodo
	possono essere richieste scrivendo al Titolare del trattamento ai riferimenti
	indicati al punto 1.
</p>
<p><h4 id="tuoi-diritti">7. I TUOI DIRITTI</h4></p>
<p>
	Nei limiti del GDPR, hai il diritto di chiedere a {eazy_company_name}, in
	qualunque momento, l’accesso ai tuoi Dati Personali, la rettifica o la
	cancellazione degli stessi o di opporti al loro trattamento, la limitazione
	del trattamento nonché di ottenere in un formato strutturato, di uso comune e
	leggibile da dispositivo automatico i dati che ti riguardano.
</p>
<p>
	Le richieste vanno rivolte via e-mail all’indirizzo: {eazy_company_email}
</p>
<p>
	Ai sensi del GDPR, hai in ogni caso il diritto di proporre reclamo
	all’autorità di controllo competente (Garante per la Protezione dei Dati
	Personali) qualora ritenessi che il trattamento dei tuoi Dati Personali sia
	contrario alla normativa vigente.
</p>
<h4 id="modifiche">8. MODIFICHE</h4>
<p>
	La presente Privacy Policy è in vigore dal {eazy_company_start_date}. {eazy_company_name} si
	riserva di modificarne o semplicemente aggiornarne il contenuto, in parte o
	completamente, anche a causa di variazioni della Normativa
	Applicabile. {eazy_company_name} ti informerà di tali variazioni non appena
	verranno introdotte e saranno vincolanti non appena pubblicate sul
	Sito.{eazy_company_name} ti invita quindi a visitare con regolarità questa
	sezione per prendere cognizione della più recente ed aggiornata versione
	della Privacy Policy in modo che tu sia sempre aggiornato sui dati raccolti e
	sull’uso che se ne fanno.
</p>
<p>Documento valido dal: {eazy_company_start_date}</p>
