<p>
	La presente Cookie Policy è parte integrante della Privacy Policy di
	{eazy_company_name} disponibile al seguente link:
	<a href="/privacy/">Privacy Policy</a>.
</p>
<p><strong>Introduzione</strong></p>
<p>
	Un cookie è un piccolo file di lettere e numeri che viene scaricato su
	‘apparecchiatura terminale’ (ad esempio un computer o uno smartphone) quando
	l’utente accede a un sito Web. Consente al sito Web di riconoscere il
	dispositivo dell’utente e memorizzare alcune informazioni sulle preferenze
	dell’utente o sulle azioni passate per periodi di tempo variabili in funzione
	dell’esigenza.
</p>
<p>
	L’utente può manifestare le proprie opzioni sull’uso dei cookies presenti sul
	presente sito () anche attraverso le impostazioni del/i browser seguendo le
	istruzioni fornite. L’utente può inoltre impostare la “navigazione anonima”
	che gli consente di navigare in internet senza salvare alcuna informazione
	sui siti, sulle pagine visitate, su eventuali password inserite e su altre
	informazioni che possano ricondurre alla sua identità.
</p>
<p>
	Nel corso della navigazione, l’utente può ricevere sul suo terminale anche
	cookies di “terze parti” che vengono cioè inviati da siti o da web server
	diversi, sui quali possono risiedere alcuni elementi (quali, ad esempio,
	immagini o specifici link a pagine di altri domini) presenti sul sito che lo
	stesso sta visitando.
</p>
<p>
	I cookies, sono usati per differenti finalità: esecuzione di autenticazioni
	informatiche, monitoraggio di sessioni, memorizzazione di informazioni su
	specifiche configurazioni riguardanti gli utenti che accedono al server, ecc.
	Alcune delle finalità di installazione dei cookies potrebbero, inoltre,
	necessitare del consenso dell’utente.
</p>
<p>
	Al fine di giungere a una corretta regolamentazione di tali dispositivi,
	posto che non vi sono delle caratteristiche tecniche che li differenziano gli
	uni dagli altri, è necessario distinguerli proprio sulla base delle finalità
	perseguite da chi li utilizza.
</p>
<p>
	Infatti, in attuazione delle disposizioni contenute nella direttiva
	2009/136/CE, vi è l’obbligo di acquisire il consenso preventivo e informato
	degli utenti all’installazione di cookie utilizzati per finalità diverse da
	quelle meramente tecniche (cfr. art. 1, comma 5, lett. a), del D. Lgs. 28
	maggio 2012, n. 69, che ha modificato l’art. 122 del Codice).
</p>
<p>
	In linea con la Normativa Applicabile, il tuo preventivo consenso per l’uso
	dei cookie non è sempre richiesto. In particolare, tale consenso non è
	richiesto per i “cookie tecnici”, es. quelli usati per il solo scopo di
	trasportare una comunicazione attraverso una rete di comunicazione
	elettronica, o strettamente necessari per fornire un servizio espressamente
	richiesto dall’utente. In altre parole, i cookie che sono indispensabili
	l’operatività di un sito.
</p>
<p>
	Il tuo preventivo consenso è invece richiesto per i cookie “analitici” non
	anonimizzati e per cookie di profilazione, es. quelli che forniscono analisi
	statistiche sull’utilizzo di un sito web o che creano profili di utenti per
	inviargli messaggi pubblicitari in linea con le preferenze che hanno espresso
	durante la navigazione.
</p>
<p><strong>Come controllare ed eventualmente disabilitare i cookies</strong></p>
<p>
	Nel caso in cui l’utente abbia dubbi o preoccupazioni in merito all’utilizzo
	dei cookies è sempre possibile intervenire per impedirne l’impostazione e la
	lettura, ad esempio modificando le impostazioni sulla privacy all’interno del
	browser utilizzato sul proprio terminale, al fine di bloccarne determinati
	tipi.
</p>
<p>
	L’utente può dunque gestire le preferenze relative ai cookies direttamente
	all’interno del proprio browser ed impedire – ad esempio – che terze parti
	possano installarne. Tramite le preferenze del browser è inoltre possibile
	eliminare i cookies installati in passato, incluso il cookie in cui venga
	eventualmente salvato il consenso all’installazione di cookie da parte di
	questo sito. È importante notare che disabilitando tutti i cookies, il
	funzionamento di questo sito potrebbe essere compromesso.
</p>
<p>
	L’utente può trovare informazioni su come gestire o disabilitare i cookies
	nel suo browser ai seguenti indirizzi:
</p>
<p>
	<a href="https://support.google.com/chrome/answer/95647?hl=it">
		Google Chrome
	</a>
	: https://support.google.com/chrome/answer/95647?hl=it
</p>
<p>
	<a
		href="https://support.mozilla.org/it/kb/Attivare%20e%20disattivare%20i%20cookie"
	>
		Mozilla Firefox
	</a>
	: https://support.mozilla.org/it/kb/Attivare%20e%20disattivare%20i%20cookie
</p>
<p>
	<a href="http://support.apple.com/kb/HT1677?viewlocale=it_IT">
		Apple Safari
	</a>
	: http://support.apple.com/kb/HT1677?viewlocale=it_IT
</p>
<p>
	<a href="https://support.microsoft.com/it-it/windows/gestire-i-cookie-in-microsoft-edge-visualizzare-consentire-bloccare-eliminare-e-usare-168dab11-0753-043d-7c16-ede5947fc64d">
		Microsoft Windows Edge </a
	>: https://support.microsoft.com/it-it/windows/gestire-i-cookie-in-microsoft-edge-visualizzare-consentire-bloccare-eliminare-e-usare-168dab11-0753-043d-7c16-ede5947fc64d</p>
</p>
<p>
	<a href="http://help.opera.com/Windows/10.00/it/cookies.html">Opera</a> :
	http://help.opera.com/Windows/10.00/it/cookies.html
</p>
<p>
	Per i browser non presenti nel precedente elenco si prega di fare riferimento
	alla documentazione relativa dello stesso.
</p>
<p>
	Si precisa che il Titolare non si assume alcuna responsabilità in caso di
	eventuali modifiche ai link su menzionati e si ribadisce che la
	disattivazione da parte dell’utente di tutte le tipologie di cookie (tecnici
	compresi) potrebbe ridurre o rendere non disponibili alcune funzionalità del
	sito.
</p>
<p><strong>Cookies utilizzati dal sito</strong></p>
<p>
	Il presente sito web utilizza vari tipi di cookie, alcuni per rendere più
	efficace la navigazione, altri per abilitare determinate funzionalità.
</p>
<p>
	Per consentire la fruizione del presente sito e l’erogazione dei servizi ad
	esso associati, viene fatto uso:
</p>
<ul></ul>
<p>
	Si precisa inoltre che i cookies di prima parte sono quelli generati ed
	utilizzati dal presente sito, mentre quelli di terza parte sono generati,
	sempre nel presente sito, da soggetti terzi.
</p>
<p>
	Su questo sito sono operativi cookies di tipologie differenti – con
	specifiche funzioni – che possono appartenere a una o più delle seguenti
	categorie descritte di seguito.
</p>
<p><strong>Cookie tecnici</strong></p>
<p>
	I cookies tecnici sono quelli che permettono la memorizzazione di azioni
	precedenti o di salvare la sessione dell’utente oppure di svolgere altre
	attività strettamente necessarie ed essenziali al corretto funzionamento del
	sito e per tali cookies non è previsto il rilascio del consenso da parte
	dell’interessato.
</p>
<p>
	I cookies funzionali (assimilabili ai cookies tecnici nell’ottica del
	Provvedimento del Garante dell’8 Maggio 2014 pubblicato in G.U. n.126 il 3
	giugno 2014, di recepimento della direttiva 2002/58/CE) permettono al sito di
	ricordare le scelte dell’utente per fornire a quest’ultimo una navigazione
	più personalizzata ed ottimizzata.
</p>
<p>
	Questi tipi di cookies possono essere necessari per mantenere aperta una
	sessione di navigazione o per consentire all’utente di accedere ad eventuali
	aree riservate oppure ricordare temporaneamente i testi inseriti durante la
	compilazione di un modulo all’interno della stessa sessione. Non risultano
	essere indispensabili al funzionamento del sito, ma ne migliorano la qualità
	e l’esperienza di navigazione; se non si accettano questi cookies, la resa e
	la funzionalità del sito potrebbero risultare non ottimali e l’accesso ai
	suoi contenuti potrebbe risultare limitato.
</p>
<p>{eazy_use_cookies_tech}</p>
<p><strong>Cookies analitici</strong></p>
<p>
	Sono i cookies utilizzati per raccogliere e analizzare informazioni che
	aiutano a capire come gli utenti interagiscono con il sito, fornendo ad
	esempio:

	<ul>
		<li>
			informazioni statistiche sugli accessi e le visite al sito web relative
			all’ultima pagina visitata;
		</li>
		<li>il numero di sezioni e pagine visitate ed il numero di visitatori;</li>
		<li>
			informazioni statistiche relative al tempo trascorso sul sito dalla media
			degli utenti;
		</li>
	</ul>
</p>
<p>
	Queste informazioni potrebbero essere associate a dettagli dell’utente quali
	indirizzo IP, dominio o browser; tuttavia, quando vengono analizzate al solo
	fine di ricavare informazioni statistiche anonime sull’uso del sito, i
	cookies che le raccolgono possono essere assimilati ai cookies tecnici.
</p>
<p>{eazy_use_cookies_analytics}</p>
<p><strong>Cookie statistici aggregati</strong></p>
<p>{eazy_use_cookies_aggregated}</p>
<p><strong>Altri cookies di terza parte</strong></p>
<p>{eazy_use_cookies_third_parts}</p>
<p><strong>Cookies che forniscono mappe interattive</strong></p>
<p>
	Questi cookies consentono di includere mappe interattive personalizzabili
	all’interno del sito.
</p>
<p>{eazy_use_cookies_maps}</p>
<p><strong>Social buttons plugins e widget</strong></p>
<p>{eazy_use_cookies_social}</p>
<p>
	L’utilizzo più comune è quello finalizzato alla condivisione dei contenuti
	dei social network. La presenza dei plug in comporta la trasmissione di
	cookie da e verso tutti i siti gestiti da terze parti. La gestione delle
	informazioni raccolte da “terze parti” è disciplinata dalle relative
	informative cui si prega di fare riferimento.
</p>
<p><strong></strong></p>
<p><strong></strong></p>
<p><strong>Il banner dei “cookies” – consenso al loro utilizzo</strong></p>
<p>
	Come imposto dal Provvedimento “Individuazione delle modalità semplificate
	per l’informativa e l’acquisizione del consenso per l’uso dei cookie” dell’8
	maggio 2014 e come richiamato anche all’art. 122, comma 2, del Codice, quando
	previsto, è necessario che l’utente esprima il proprio consenso all’utilizzo
	dei cookies.
</p>
<p>
	Utilizzando per la prima volta l’applicazione, l’utente vedrà apparire una
	sintetica informativa sull’utilizzo dei cookies.
</p>
<p>
	Proseguendo nell’utilizzo, chiudendo la fascetta informativa o facendo click
	in una qualsiasi parte della pagina o scorrendola per evidenziare ulteriore
	contenuto, si accetta la Cookie Policy e verranno impostati e raccolti i
	cookies.
</p>
<p>
	In caso di mancata accettazione dei cookies mediante abbandono della
	navigazione, eventuali cookies già registrati localmente nel dispositivo
	dell’utente rimarranno ivi registrati (fatte salve eventuali cancellazioni
	effettuate dal browser del terminale dell’utente o con modalità simili) ma
	non saranno più letti né utilizzati fino ad una successiva ed eventuale
	accettazione della Cookie Policy.
</p>
<p>
	L’applicazione ricorda la scelta effettuata dall’utente, pertanto
	l’informativa breve non verrà riproposta nei collegamenti successivi dallo
	stesso dispositivo. Tuttavia, l’utente ha sempre la possibilità di revocare
	in tutto o in parte il consenso già espresso.
</p>
<p>
	Qualora si riscontrassero problemi di natura tecnica legati alla prestazione
	del consenso, l’utente è pregato di contattare il Titolare del trattamento
	tramite gli appositi canali indicati sul sito.
</p>
<p>Documento valido dal: {eazy_company_start_date}</p>
